# =========================
# OS files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# Pip / packaging
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.eggs/
dist/
build/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================

# IntelliJ / PyCharm
.idea/
*.iml

# VSCode
.vscode/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Data
# =========================

# Datasets
*.zip

# Model checkpoints
checkpoints/
*.pt
*.pth
*.ckpt

# =========================
# Experiment outputs
# =========================
outputs/
results/
runs/   # tensorboard

# =========================
# Misc
# =========================
*.swp
*.swo
*.tmp